/* footer */

footer {
    background-color: #f8edb7;
    text-align:center;
}

#footerlink {
    width:100%;
    text-align:center;
    padding:20px;
    background-color: #8CB369;
}

.footerlink-item {
    margin:0 3%;
    color:white;
    
}

.separator {
    color:white;
}

footer .logo_area {
    display: inline-block;
    position: relative;
    top: -20px;
    left: 20px;
}

footer .click_footer {
    display: inline-block;
    position: relative;
    text-align:left;
    top: 20px;
    left: 30px;
}

.logo_area {
    display:inline;
}