#headerlink {
    text-align:right;
    margin:20px;
}

.headerlink-item {
    margin:0 5px;
}

#logo {
    width:250px;
    margin-bottom:20px;
    margin-right:10px;
    margin-left:-5px;
}

#searchmenu {
    text-align:center;
}

#realtime {
    margin:10px;
}

/* navigation bar */

.nav {
    width:105%;
}

.nav > li {
    width:16%;
    text-align:center;
}

.nav > li > span {
	text-align: center;
}

.navbar {
    background-color: #F4E285;
    border:none;
}

.nav > li > a:hover {
    background-color:transparent;
}

.nav > li > a:active {
    background-color:transparent;
}

.nav > li> a:visited {
    background-color:transparent;
}

.nav > li > a:focus{
    background-color:transparent;
}

a {
    outline:none;
}

/* 국내도서 중분류 */
#internalMCategory {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 181.44px;
	/* background-color: #D5E8CB; */
	background-color: #F4EB8D;
	text-align: center;
}

#internalMCategory > a {
	display: block;
	margin: 5px auto 5px auto;
}

/* 해외도서 중분류 */
#externalMCategory {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 181.44px;
	/* background-color: #D5E8CB; */
	background-color: #F4EB8D;
	text-align: center;
}

#externalMCategory > a {
	display: block;
	margin: 5px auto 5px auto;
}