/* 사이드메뉴 21.02.14 추가 */

#introtitle {
    width:100%;
    padding:15px;
    text-align:center;
    clear:both;
    background-color: #5B8E7D;
}

#intro {
    background-color:white;
    text-align:center;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    width:100%;
    padding-top:20px;
    padding-bottom:5px;
    clear:both;
}

#mypagemenu {
    background-color: white;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    width:100%;
    padding-top:5px;
    padding-bottom:15px;
    clear:both;
}

.menuitem {
    margin-top:30px;
}

.menusubitem {
    margin-left:-25px;
    margin-top:15px;
}