/*

global.css
- 사이트 내의 모든 페이지에서 사용할 CSS 파일 -> 공통 구현 CSS 정의

1. 글꼴(폰트, 크기, 색상 등..)

2. 색상
    a. 텍스트 색
    b. 배경색
    c. 테두리 색
    d. 컨트롤 색

3. 자주 반복되는 서식(태그 선택자, 클래스 선택자)


*/

@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 글꼴 + 태그 선택자 */
body, p, div, span, ul, ol, li, dl, dt, dd, table, th, td, a, blockquote, input, textarea, fieldset, h1, h2, h3, h4, h5, h6, small, strong, b, i, em {
    font-family: 'TmoneyRoundWindExtraBold';
    color: #555;
    line-height: 1.5em;
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6, th, strong, b {
    color: #333;
}

h1 { font-size: 30px; }
h2 { font-size: 26px; }
h3 { font-size: 22px; }

a { text-decoration: none; }
a:hover { color: #333; border-bottom: 2px dashed #333; padding-bottom: 2px; }

hr {
    border: 0;
    border-top: 3px solid #415B4E;
}

.table {
    border: 1px solid #30423E;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #30423E;
    padding: 4px;
    font-weight: normal;
}

.table th {
    background-color: #739A90;
    color: white;
}

.table.large {
    width: 100%;
}
.table.middle {
    width: 70%;
}
.table.small {
    width: 50%;
}

.table.line, .table.line th, .table.line td {
    border-left: 0px;
    border-right: 0px;
}

.table.sprite tr:nth-child(odd) {
    background-color: #BFDEDD;
}








